@charset "utf-8";
html {

}

body {
  font-family: "Oswald", "Hiragino Sans", "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common */

/*
=====共通の汎用的なCSSを記述=====
*/

/* header */
